extends layout

block content
    link(rel="stylesheet" href="/stylesheets/donation-board.css")
    if user
        include partials/navbar-authenticated
    else
        include partials/navbar-unauthenticated
    div(class="container")
        h1 Listings:
        div(class="card-deck")
            each donation in donations
                - if(donation.status != 'expired')
                    div(class="card text-center")
                        h5(class="card-header")=`${donation.food_item}`
                        div(class="card-body")
                            ul(class="list-group list-group-flush")
                                li(class="list-group-item")=`Amount: ${donation.amount}`
                                if donation.dietary_restrictions !== ""
                                    li(class="list-group-item")=`${donation.dietary_restrictions}`
                                li(class="list-group-item")=`Donated by ${donation.donator}`
                                li(class="list-group-item")=`Meeting Point: ${donation.meeting_point}`
                                li(class="list-group-item")=`Expires ${donation.expiration_date}`

                                li(class="list-group-item")=`Status: ${donation.status}`
                            div(class="card-footer")
                                form(action="/donation-board" method="POST")
                                    button(type="submit" class="btn btn-primary") Request
